* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  padding: 20px 0 10px;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.grid-container {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}

.grid-item {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
}

.btnSavePlayer {
  padding: 5px 2px;
  margin-top: 8px;
}

#countLabel,
#countLabel2 {
  font-size: 154px;
  font-family: helvetica;
  display: block;
  text-align: center;
}

.buttons {
  padding: 10px 30px;
  font-size: 14px;
  color: aliceblue;
  background-color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin: 5px;
}

.buttons:hover {
  background-color: rgb(70, 70, 70);
}

.btnSavePlayer {
}

.resetBtnContainer {
  text-align: center;
  padding: 20px 0;
}

.resetbtn {
  text-align: center;
  padding: 10px 30px;
  font-size: 14px;
  color: aliceblue;
  background-color: rgb(48, 48, 48);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.resetbtn:hover {
  background-color: rgb(163, 49, 49);
}

/* Media Query untuk layar kecil */
@media (max-width: 430px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    flex-direction: column; /* Mengubah grid menjadi kolom (bertumpuk ke bawah) */
    gap: 20px; /* Memberi jarak antar item */
  }

  .grid-item {
    width: 100%; /* Memastikan item memenuhi lebar layar kecil */
  }
}
